In [90]:
import pandas as pd

data = pd.read_csv('../../_git/donnees/meteo/2023/synop.202309.csv', sep=';', dtype={'date':'str'}, na_values='mq')
data = data.rename(columns={
    'numer_sta': 'Station', 
    'date': 'DateHeure', 
    'dd' : 'DirectionVent', 
    'ff' : 'VitesseVent', 
    't': 'Temperature', 
    'u' : 'Humidite', 
    'vv' : 'Visibilite', 
    'pres' : 'Pression', 
    'rr1' : 'Precipitation01',
    'rr3' : 'Precipitation03',
    'rr6' : 'Precipitation06',
    'rr12' : 'Precipitation12',
    'rr24': 'Precipitation24',
})
#data.info()
data.drop(columns=['Unnamed: 59'],inplace=True)
#data.replace('mq', 'NaN', inplace=True)

data.set_index('Station')
data['DateHeure'] = pd.to_datetime(data["DateHeure"], format="mixed")

data['Temperature'] = data['Temperature'] - 273.15

data['Mois']      = data.DateHeure.dt.month
data['Annee']     = data.DateHeure.dt.year
data['AnneeMois'] = data.DateHeure.dt.year*100 + data.DateHeure.dt.month
data['Semaine']   = data.DateHeure.dt.isocalendar().week
data['MoisJour']  = data.DateHeure.dt.month*100 + data.DateHeure.dt.day
data['JourA']     = data.DateHeure.dt.dayofyear

#data.reset_index(inplace=True)
data.tail()

,Station,DateHeure,pmer,tend,cod_tend,DirectionVent,VitesseVent,Temperature,td,Humidite,...,hnuage3,nnuage4,ctype4,hnuage4,Mois,Annee,AnneeMois,Semaine,MoisJour,JourA
14589,78925,2023-09-30 21:00:00,100810.0,-30.0,6.0,60.0,2.4,30.3,299.15,78.0,...,1980.0,NaN,9.0,NaN,9,2023,202309,39,930,273
14590,81401,2023-09-30 21:00:00,100780.0,10.0,5.0,60.0,1.8,31.1,296.85,65.0,...,NaN,NaN,NaN,NaN,9,2023,202309,39,930,273
14591,81405,2023-09-30 21:00:00,100880.0,0.0,5.0,100.0,3.7,30.1,297.85,73.0,...,NaN,NaN,NaN,NaN,9,2023,202309,39,930,273
14592,81408,2023-09-30 21:00:00,100840.0,0.0,5.0,90.0,3.6,32.0,295.55,57.0,...,NaN,NaN,NaN,NaN,9,2023,202309,39,930,273
14593,89642,2023-09-30 21:00:00,98690.0,100.0,3.0,140.0,13.9,-21.3,244.75,49.0,...,NaN,NaN,NaN,NaN,9,2023,202309,39,930,273

In [73]:
data.loc[data.Station == '78925']

Empty DataFrame
Columns: [Station, DateHeure, pmer, tend, cod_tend, DirectionVent, VitesseVent, Temperature, td, Humidite, Visibilite, ww, w1, w2, n, nbas, hbas, cl, cm, ch, Pression, niv_bar, geop, tend24, tn12, tn24, tx12, tx24, tminsol, sw, tw, raf10, rafper, per, etat_sol, ht_neige, ssfrai, perssfrai, Precipitation01, Precipitation03, Precipitation06, Precipitation12, Precipitation24, phenspe1, phenspe2, phenspe3, phenspe4, nnuage1, ctype1, hnuage1, nnuage2, ctype2, hnuage2, nnuage3, ctype3, hnuage3, nnuage4, ctype4, hnuage4]
Index: []

[0 rows x 59 columns]

In [96]:
# Aggregation

df = data[['Temperature', 'Pression', 'JourA']].groupby(['JourA']).agg({'Temperature': 'mean', 'Pression': ['min', 'max', 'mean']})
df

      Temperature Pression
             mean      min       max           mean
JourA
244     20.716136  91810.0  102800.0   99980.345572
245     20.974681  92000.0  102860.0  100176.948052
246     22.084567  92210.0  102450.0  100429.784946
247     23.290832  92070.0  102130.0  100153.771552
248     23.664033  91810.0  101920.0  100043.699789
249     23.141996  91890.0  101930.0  100095.475687
250     23.023457  91920.0  101880.0   99958.430962
251     23.149795  91850.0  101990.0   99932.729167
252     23.428778  91850.0  102040.0   99928.905263
253     23.328601  91850.0  102050.0   99972.590234
254     22.174633  91590.0  102080.0   99840.000000
255     21.014017  91670.0  102180.0   99881.276596
256     20.076618  91820.0  102260.0  100209.341826
257     20.115114  91690.0  102590.0  100299.031579
258     21.101446  91650.0  103100.0   99897.584034
259     21.373706  91690.0  103430.0   99679.263158
260     22.048233  91710.0  103380.0   99578.858351
261     20.866318  91530.0  102900.0   99666.340426
262     19.586258  91640.0  102060.0   99945.437100
263     19.845396  91400.0  101940.0   99519.122056
264     18.134958  90790.0  101840.0   98989.152542
265     17.137131  90690.0  102260.0   99332.995781
266     16.906723  91160.0  102500.0  100045.945378
267     17.324841  91980.0  102240.0  100289.936306
268     18.002371  92070.0  102290.0  100287.047414
269     18.832700  92030.0  102470.0  100218.755274
270     19.555346  91940.0  102550.0  100096.436059
271     20.103138  91910.0  102180.0  100077.384937
272     19.995127  92180.0  102470.0  100365.635593
273     19.740860  92230.0  102540.0  100545.978495