In [1]:
import os
import pandas as pd

## Changement de répertoire

In [2]:
os.chdir("C:/Users/etien/Documents/CCI/_HUB/cours/2024-2025/big_data/_git/donnees")

In [3]:
## Importation des fichiers

In [4]:
sellers = pd.read_parquet('./ecommerce/sellers.parquet')
sellers

,seller_id,zip_code,city,state,name_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,São Paulo
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP,São Paulo
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ,Rio de Janeiro
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP,São Paulo
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP,São Paulo
...,...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR,Paraná
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC,Santa Catarina
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP,São Paulo
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS,Rio Grande do Sul
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP,São Paulo

In [5]:
geoloc = pd.read_csv('ebrasil/olist_geolocation_dataset.csv',
                           sep=',',
                          # usecols=['numer_sta','date','dd','ff','t','u','vv',
                          #         'pres','rr1','rr3','rr6','rr12','rr24'],
                           na_values='mq',
                           dtype={'numer_sta':str,'date':str},
                          )
geoloc

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [6]:
## Jointure des fichiers

In [7]:
# ATTRIBUER UNE GEOLOCALISATION DES VENTE => vendor & customer

sellers_loc = sellers.merge(geoloc, left_on="zip_code", right_on="geolocation_zip_code_prefix")
#sellers_loc.drop('geolocation_zip_code_prefix',inplace=True)

In [8]:
## Retrouver la longitude / latitude moyenne

In [9]:
sellers_loc_agg = sellers_loc.groupby('zip_code').agg({'geolocation_lat': ['min', 'max', 'mean'], 'geolocation_lng': ['min', 'max', 'mean']}).reset_index()

In [10]:
sellers_loc_agg

     zip_code geolocation_lat                       geolocation_lng  \
                          min        max       mean             min
0        1001      -23.551427 -23.549292 -23.550190      -46.634410
1        1021      -23.548328 -23.538825 -23.543000      -46.632644
2        1022      -23.547795 -23.544280 -23.544922      -46.633454
3        1023      -23.544176 -23.539021 -23.542331      -46.632173
4        1026      -23.541312 -23.538895 -23.539657      -46.635455
...       ...             ...        ...        ...             ...
2234    99300      -28.840684 -28.808723 -28.827450      -52.518400
2235    99500      -28.324235 -28.274561 -28.291245      -52.867893
2236    99670      -27.789657 -27.771223 -27.782222      -52.815008
2237    99700      -27.660321 -27.619420 -27.636046      -52.312855
2238    99730      -27.731102 -27.726741 -27.728956      -52.539263


            max       mean
0    -46.633559 -46.634024
1    -46.630646 -46.632143
2    -46.630238 -46.631931
3    -46.630653 -46.631373
4    -46.628490 -46.631884
...         ...        ...
2234 -52.485107 -52.509255
2235 -52.741366 -52.790256
2236 -52.791041 -52.806500
2237 -52.238804 -52.273049
2238 -52.531537 -52.536535

[2239 rows x 7 columns]