In [39]:
import pandas

# Lecture du fichier Synop.202309

In [40]:
donnees = pandas.read_csv('donnees/synop.202309.csv',
                           sep=';',
                           usecols=['numer_sta','date','dd','ff','t','u','vv',
                                    'pres','rr1','rr3','rr6','rr12','rr24'],
                           na_values='mq',
                           dtype={'numer_sta':str,'date':str},
                          ).rename( columns={'numer_sta':'Station',
                                      'date':'DateHeure',
                                      'dd':'DirectionVent',
                                      'ff':'VitesseVent',
                                      't':'Temperature',
                                      'u':'Humidite',
                                      'vv':'Visibilite',
                                      'pres':'Pression',
                                      'rr1' :'Precipitation01',
                                      'rr3' :'Precipitation03',
                                      'rr6' :'Precipitation06',
                                      'rr12':'Precipitation12',
                                      'rr24':'Precipitation24'})

In [41]:
donnees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14594 entries, 0 to 14593
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Station          14594 non-null  object
 1   DateHeure        14594 non-null  object
 2   DirectionVent    14557 non-null  float64
 3   VitesseVent      14557 non-null  float64
 4   Temperature      14287 non-null  float64
 5   Humidite         14276 non-null  float64
 6   Visibilite       10949 non-null  float64
 7   Pression         14143 non-null  float64
 8   Precipitation01  14136 non-null  float64
 9   Precipitation03  14018 non-null  float64
 10  Precipitation06  13873 non-null  float64
 11  Precipitation12  13739 non-null  float64
 12  Precipitation24  13562 non-null  float64
dtypes: float64(11), object(2)
memory usage: 1.4+ MB

In [42]:
donnees.head()

,Station,DateHeure,DirectionVent,VitesseVent,Temperature,Humidite,Visibilite,Pression,Precipitation01,Precipitation03,Precipitation06,Precipitation12,Precipitation24
0,07005,20230901000000,230.0,1.7,290.55,97.0,5510.0,100270.0,0.4,0.8,2.0,12.3,12.3
1,07015,20230901000000,160.0,1.8,288.65,98.0,11010.0,100550.0,0.0,0.0,1.6,4.4,4.8
2,07020,20230901000000,210.0,6.5,291.15,97.0,8000.0,100840.0,1.6,3.8,6.4,6.6,13.6
3,07027,20230901000000,200.0,4.6,290.35,92.0,28840.0,100360.0,-0.1,0.2,0.6,0.6,1.4
4,07037,20230901000000,250.0,4.7,289.45,98.0,7030.0,99380.0,2.9,5.5,5.7,8.3,9.3

In [43]:
donnees["DateHeure"] = pandas.to_datetime(donnees["DateHeure"], format='%Y%m%d%H%M%S')
donnees.Temperature  = donnees.Temperature - 273.15
donnees.Pression     = donnees.Pression / 100
donnees.Visibilite   = donnees.Visibilite / 1000

In [44]:
donnees['Mois']      = donnees.DateHeure.dt.month
donnees['Annee']     = donnees.DateHeure.dt.year
donnees['AnneeMois'] = donnees.DateHeure.dt.year*100 + donnees.DateHeure.dt.month
donnees['Semaine']   = donnees.DateHeure.dt.isocalendar().week
donnees['MoisJour']  = donnees.DateHeure.dt.month*100 + donnees.DateHeure.dt.day
donnees['JourA']     = donnees.DateHeure.dt.dayofyear

In [45]:
donnees.tail()

,Station,DateHeure,DirectionVent,VitesseVent,Temperature,Humidite,Visibilite,Pression,Precipitation01,Precipitation03,Precipitation06,Precipitation12,Precipitation24,Mois,Annee,AnneeMois,Semaine,MoisJour,JourA
14589,78925,2023-09-30 21:00:00,60.0,2.4,30.3,78.0,60.00,1007.2,0.0,1.7,21.4,21.4,21.4,9,2023,202309,39,930,273
14590,81401,2023-09-30 21:00:00,60.0,1.8,31.1,65.0,NaN,1007.2,0.0,0.0,0.0,0.0,0.0,9,2023,202309,39,930,273
14591,81405,2023-09-30 21:00:00,100.0,3.7,30.1,73.0,50.43,1007.9,0.0,0.0,0.0,0.0,0.0,9,2023,202309,39,930,273
14592,81408,2023-09-30 21:00:00,90.0,3.6,32.0,57.0,NaN,1007.6,0.0,0.0,0.0,0.2,0.2,9,2023,202309,39,930,273
14593,89642,2023-09-30 21:00:00,140.0,13.9,-21.3,49.0,NaN,981.2,NaN,NaN,NaN,NaN,NaN,9,2023,202309,39,930,273

In [47]:
donnees.set_index(['Station','DateHeure'],inplace=True)

KeyError: "None of ['Station', 'DateHeure'] are in the columns"

In [48]:
donnees.head()

,,DirectionVent,VitesseVent,Temperature,Humidite,Visibilite,Pression,Precipitation01,Precipitation03,Precipitation06,Precipitation12,Precipitation24,Mois,Annee,AnneeMois,Semaine,MoisJour,JourA
Station,DateHeure,,,,,,,,,,,,,,,,,
07005,2023-09-01,230.0,1.7,17.4,97.0,5.51,1002.7,0.4,0.8,2.0,12.3,12.3,9,2023,202309,35,901,244
07015,2023-09-01,160.0,1.8,15.5,98.0,11.01,1005.5,0.0,0.0,1.6,4.4,4.8,9,2023,202309,35,901,244
07020,2023-09-01,210.0,6.5,18.0,97.0,8.00,1008.4,1.6,3.8,6.4,6.6,13.6,9,2023,202309,35,901,244
07027,2023-09-01,200.0,4.6,17.2,92.0,28.84,1003.6,-0.1,0.2,0.6,0.6,1.4,9,2023,202309,35,901,244
07037,2023-09-01,250.0,4.7,16.3,98.0,7.03,993.8,2.9,5.5,5.7,8.3,9.3,9,2023,202309,35,901,244

In [49]:
donnees.reset_index(inplace=True)

In [50]:
donnees.tail()

,Station,DateHeure,DirectionVent,VitesseVent,Temperature,Humidite,Visibilite,Pression,Precipitation01,Precipitation03,Precipitation06,Precipitation12,Precipitation24,Mois,Annee,AnneeMois,Semaine,MoisJour,JourA
14589,78925,2023-09-30 21:00:00,60.0,2.4,30.3,78.0,60.00,1007.2,0.0,1.7,21.4,21.4,21.4,9,2023,202309,39,930,273
14590,81401,2023-09-30 21:00:00,60.0,1.8,31.1,65.0,NaN,1007.2,0.0,0.0,0.0,0.0,0.0,9,2023,202309,39,930,273
14591,81405,2023-09-30 21:00:00,100.0,3.7,30.1,73.0,50.43,1007.9,0.0,0.0,0.0,0.0,0.0,9,2023,202309,39,930,273
14592,81408,2023-09-30 21:00:00,90.0,3.6,32.0,57.0,NaN,1007.6,0.0,0.0,0.0,0.2,0.2,9,2023,202309,39,930,273
14593,89642,2023-09-30 21:00:00,140.0,13.9,-21.3,49.0,NaN,981.2,NaN,NaN,NaN,NaN,NaN,9,2023,202309,39,930,273