In [29]:
import pandas as pd
from os import listdir
import glob


def getDirectoryList(directoryPath="../../_git/donnees/meteo/2023"):
    return glob.glob(glob.escape(directoryPath) + "/*.csv")

def getDataFrames(path="../../_git/donnees/meteo/2023"):
    filesPath = getDirectoryList()
    DFlist = []
    for i in range((len(filesPath))):
        DFlist.append(getDF(filesPath[i]))
    return pd.concat(DFlist, ignore_index=True)


def getDF(path):
    data = pd.read_csv(path, sep=';', dtype={'date':'str'}, na_values='mq')
    data.rename(columns={
        'numer_sta': 'Station', 
        'date': 'DateHeure', 
        'dd' : 'DirectionVent', 
        'ff' : 'VitesseVent', 
        't': 'Temperature', 
        'u' : 'Humidite', 
        'vv' : 'Visibilite', 
        'pres' : 'Pression', 
        'rr1' : 'Precipitation01',
        'rr3' : 'Precipitation03',
        'rr6' : 'Precipitation06',
        'rr12' : 'Precipitation12',
        'rr24': 'Precipitation24',
    })
    return data



        
    
        
data = getDataFrames()

data
#data = pd.read_csv('../../_git/donnees/meteo/2023/synop.202309.csv', sep=';', dtype={'date':'str'}, na_values='mq')

,numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,...,nnuage2,ctype2,hnuage2,nnuage3,ctype3,hnuage3,nnuage4,ctype4,hnuage4,Unnamed: 59
0,7005,20230101000000,100970.0,120.0,3.0,190.0,3.2,286.55,280.55,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7015,20230101000000,100970.0,100.0,1.0,200.0,8.6,287.15,279.75,61.0,...,7.0,NaN,3060.0,8.0,NaN,5040.0,NaN,NaN,NaN,NaN
2,7020,20230101000000,100760.0,320.0,2.0,230.0,12.0,284.95,282.15,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7027,20230101000000,100970.0,90.0,3.0,220.0,11.5,287.55,282.95,74.0,...,6.0,NaN,3660.0,8.0,NaN,4500.0,NaN,NaN,NaN,NaN
4,7037,20230101000000,101100.0,50.0,0.0,200.0,9.3,286.65,279.55,62.0,...,8.0,NaN,2520.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146330,81401,20231031210000,100780.0,40.0,3.0,40.0,1.3,303.25,296.95,69.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146331,81405,20231031210000,100840.0,30.0,3.0,80.0,4.5,302.95,298.05,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146332,81408,20231031210000,100770.0,70.0,3.0,60.0,3.0,303.65,296.85,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146333,81415,20231031210000,NaN,NaN,NaN,50.0,2.8,305.65,296.05,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146334,89642,20231031210000,95430.0,450.0,1.0,90.0,3.1,265.65,259.85,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN